<nb-layout>

  <nb-layout-header fixed>
    <h1>JARVIS PROJECT</h1>  
  </nb-layout-header>

  <nb-layout-column>
    <nb-card size="large">
      <nb-card-header>About</nb-card-header>
      <nb-card-body>
        <app-about></app-about>
      </nb-card-body>
    </nb-card>

    <nb-card size="large">
      <nb-card-header>Tech Stack</nb-card-header>
      <nb-card-body>
        <app-tech-stack></app-tech-stack>
      </nb-card-body>
    </nb-card>

    <nb-card size="large">
      <nb-card-header>Roadmap</nb-card-header>
      <nb-card-body>
        <app-road-map></app-road-map>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
